@import './variables';

.main{
    background-image: url('#{$pathToImages}/main.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 24px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        flex-grow: 1;
    }
}