$pathToFonts: '../../fonts';
$pathToImages: '../../images';


//colors
$mainColor: #4c76ff;

//fonts
$latoBlack: 'Lato Black';
$latoThin: 'Lato Thin';
$openSans: 'OpenSans';
$openSansBold: 'OpenSans Bold';